footer {
  background: #1da5c8;
  color: #ffffff;
  margin-bottom: 0px;
  position: relative;
  width: 100%;
}

.footer-heading {
  padding: 10px 100px;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

footer ul li i {
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
}
