.error_field {
  color: red;
}

.error_txt {
  color: red;
  position: absolute;
  font-size: 12px;
}

.validationError {
  border-color: #f86c6b !important;
}

.relative {
  position: relative !important;
  width: 80% !important;
}
