.img-about {
  margin-top: 80px;
}

.aboutus-content {
  margin-top: 5%;
  margin-bottom: 10%;
}

.about-left-content .btn {
  margin-right: 10px;
}

.about-left-content h3 {
  margin-top: 50px;
}

.about-left-content p {
  margin-top: 5%;
}

.aboutpageImage {
  margin-top: 25%;
}
