.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 30px;
  height: 20px;
  left: 35px;
  top: 26px;
}

.bm-burger-bars {
  background: #ffffff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  position: static !important;
  z-index: 0 !important;
  width: 100%;
  height: 100%;
  background: none !important;
  opacity: 1;
  transition: none !important;
}

.bm-menu-wrap {
  position: absolute !important;
  height: 72vh !important;
}
