.registerForm {
  margin-bottom: 40px;
}

.registerForm .btn {
  margin-right: 10px;
}

.img-register {
  margin-top: 40px;
}

.gender {
  margin-left: 30px;
}

.dropdowntext {
  height: 100%;
  padding: 6px 255px 6px 10px;
  border-radius: 3px;
}
